#URL
//HOST_URL=

# Backend Variables
APP_PORT= 

#HOST= 
#PORT=
#USER=
#PASSWORD=
#DATABASE=

HOST= 
PORT=
USER=
PASSWORD=
DATABASE=


# Frontend Variables

REACT_APP_TESTE= 
REACT_APP_BASENAME= 

# JWT Variables
JWT_SECRET= 

# AWS Variables
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
TOPIC_NOTIFICATION=

# Facebook Variables
FACEBOOK_CLIENT_ID=
FACEBOOK_API_SECRET=
CALLBACK_URL=

# MEO Variables
MEO_URL=
MEO_TOKEN=

# Email Variables
EMAIL_USERNAME= 


# Admin Email
ADMIN_EMAIL= 
ADMIN_PASSWORD= 